<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="assets/styles/scss/main.min.css" />
    <!-- Load an icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="d-flex">
    <div class="dashboard-sidebar">
        <div class="menu">
            <a class="logo-white" href="./dashboard.html"></a>
            <span class="menu-item">
                <a href="./home.html">
                    <i class="fas fa-home"></i>
                </a>
            </span>
            <span class="menu-item">
                <a href="./post.html">
                    <i class="fas fa-user-friends"></i>
                </a>
            </span>
            <span class="menu-item">
                <a href="./profile-settings.html">
                    <i class="fa fa-cog"></i>
                </a>
            </span>
        </div>
        <div class="signout">
            <a href="/">
                <img src="assets/images/log-out.svg" alt="">
            </a>
        </div>
    </div>

    <div class="dashboard--authors">
        <div class="searchbar">
            <div>
                <input type="text" class="search--area" placeholder="Search for author">
            </div>
            <div class="avatar"></div>
        </div>

        <div class="dashboard-main-inner">
            <h2 class="dashboard-main-inner-row1">Dashboard</h2>

            <div class="dashboard-contents">

                <div class="dashboard-contents-inner-left">
                    <div class="dashboard-contents-inner-row1">
                        <div class="dashboard-content-box1"><img src="./assets/images/top-author.svg" alt=""></div>
                        <div class="dashboard-content-box2"><img src="./assets/images/sharing-channel.svg" alt=""></div>
                    </div>
                    <div class="dashboard-contents-inner-row2">
                        <div class="dashboard-content-box3 box3-outer">
                            <h3>Top Shared Author</h3>
                            <span>
                                <p>1</p>
                                <img src="./assets/images/jenny-icon.svg" alt="">
                                <p>Jenny Wilson</p>
                                <p>3.4k Shares</p>
                            </span>
                            <hr>
                            <span>
                                <p>2</p>
                                <img src="./assets/images/jenny-icon.svg" alt="">
                                <p>Savannah Nguyen</p>
                                <p>3.4k Shares</p>
                            </span>
                            <hr>
                            <span>
                                <p>3</p>
                                <img src="./assets/images/jenny-icon.svg" alt="">
                                <p>Courtney Henry</p>
                                <p>3.4k Shares</p>
                            </span>
                            <hr>
                            <span>
                                <p>4</p>
                                <img src="./assets/images/jenny-icon.svg" alt="">
                                <p>Robert Fox</p>
                                <p>3.4k Shares</p>
                            </span>
                            <hr>
                            <span>
                                <p>5</p>
                                <img src="./assets/images/jenny-icon.svg" alt="">
                                <p>Jerome Bell</p>
                                <p>3.4k Shares</p>
                            </span>

                        </div>
                        <div class="dashboard-content-box4 box4-outer">
                            <h3>Top Post</h3>
                            <span>
                                <p>1</p>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae labore laborum
                                    soluta</p>
                                <img src="./assets/images/jenny-icon.svg" alt="">
                                <p>Eleanor Pena</p>
                                <p>3.4k</p>
                            </span>
                            <hr>
                            <span>
                                <p>2</p>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae labore laborum
                                    soluta</p>
                                <img src="./assets/images/jenny-icon.svg" alt="">
                                <p>Kristin Watson</p>
                                <p>3.4k</p>
                            </span>
                            <hr>
                            <span>
                                <p>3</p>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae labore laborum
                                    soluta</p>
                                <img src="./assets/images/jenny-icon.svg" alt="">
                                <p>Eleanor Pena</p>
                                <p>3.4k</p>
                            </span>
                            <hr>
                            <span>
                                <p>4</p>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae labore laborum
                                    soluta</p>
                                <img src="./assets/images/jenny-icon.svg" alt="">
                                <p>Cameron Williamson</p>
                                <p>3.4k</p>
                            </span>
                            <hr>
                            <span>
                                <p>5</p>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae labore laborum
                                    soluta</p>
                                <img src="./assets/images/jenny-icon.svg" alt="">
                                <p>Eleanor Pena</p>
                                <p>3.4k</p>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="dashboard-contents-inner-right">
                    <div class="right-content-inner author-list">
                        <span>
                            <h3>Authors</h3>
                            <img src="./assets/images/right-arrow.svg" alt="">
                        </span>
                        <span>
                            <p>1</p>
                            <img src="./assets/images/jenny-icon.svg" alt="">
                            <span class="author-profile">
                                <p>Jenny Wilson</p>
                                <p>jenny@gmail.com</p>
                            </span>
                            <p class="post-count">120 Post</p>
                        </span>
                        <hr>
                        <span>
                            <p>2</p>
                            <img src="./assets/images/jenny-icon.svg" alt="">
                            <span class="author-profile">
                                <p>Cameron Williamson</p>
                                <p>debra.holt@example.com</p>
                            </span>
                            <p class="post-count">120 Post</p>
                        </span>
                        <hr>
                        <span>
                            <p>3</p>
                            <img src="./assets/images/jenny-icon.svg" alt="">
                            <span class="author-profile">
                                <p>Esther Howard</p>
                                <p>willie.jennings@example.com</p>
                            </span>
                            <p class="post-count">120 Post</p>
                        </span>
                        <hr>
                        <span>
                            <p>4</p>
                            <img src="./assets/images/jenny-icon.svg" alt="">
                            <span class="author-profile">
                                <p>Darrell Steward</p>
                                <p>alma.lawson@example.com</p>
                            </span>
                            <p class="post-count">120 Post</p>
                        </span>
                        <hr>
                        <span>
                            <p>5</p>
                            <img src="./assets/images/jenny-icon.svg" alt="">
                            <span class="author-profile">
                                <p>Devon Lane</p>
                                <p>tim.jennings@example.com</p>
                            </span>
                            <p class="post-count">120 Post</p>
                        </span>
                        <hr>
                        <span>
                            <p>6</p>
                            <img src="./assets/images/jenny-icon.svg" alt="">
                            <span class="author-profile">
                                <p>Annette Black</p>
                                <p>kenzi.lawson@example.com</p>
                            </span>
                            <p class="post-count">120 Post</p>
                        </span>
                        <hr>
                        <span>
                            <p>7</p>
                            <img src="./assets/images/jenny-icon.svg" alt="">
                            <span class="author-profile">
                                <p>Dianne Russell</p>
                                <p>kenzi.lawson@example.com</p>
                            </span>
                            <p class="post-count">120 Post</p>
                        </span>
                        <hr>
                        <span>
                            <p>8</p>
                            <img src="./assets/images/jenny-icon.svg" alt="">
                            <span class="author-profile">
                                <p>Bessie Cooper</p>
                                <p>georgia.young@example.com</p>
                            </span>
                            <p class="post-count">120 Post</p>
                        </span>
                        <hr>
                        <span>
                            <p>9</p>
                            <img src="./assets/images/jenny-icon.svg" alt="">
                            <span class="author-profile">
                                <p>Leslie Alexander</p>
                                <p>jenny@gmail.com</p>
                            </span>
                            <p class="post-count">120 Post</p>
                        </span>



                    </div>
                </div>

            </div>

            <!-- <div></div> -->
        </div>

    </div>




    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="./assets/scripts/app.js"></script>
</body>

</html>