p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dashboard-main-inner {
    background: #F9FAFF;
    display: grid;
    grid-template-rows: 1fr 7fr;
    overflow-y: auto;
    width: 100%;
    height: 100%;
}

.dashboard-contents {
    display: grid;
    grid-template-columns: 3fr 1.5fr;
    column-gap: 15px;
    margin-bottom: 15px;
}

.dashboard-contents-inner-left {
    display: grid;
    grid-template-rows: 51.5% auto;
    row-gap: 15px;
    margin-left: 15px;
}

.dashboard-contents-inner-row1 {
    display: grid;
    grid-template-columns: 2fr 1.4fr;
    column-gap: 15px;
}

.dashboard-contents-inner-row1 div {
    padding: 20px;
}


.dashboard-content-box1 {
    background-color: #fff;
}

.dashboard-content-box2 {
    background-color: #fff;
}

.dashboard-contents-inner-row2 {
    display: grid;
    grid-template-columns: 1.4fr 2fr;
    column-gap: 15px;
}

.dashboard-contents-inner-row2 div {
    padding: 20px;
}

.dashboard-content-box3 {
    background-color: #fff;
}

.dashboard-content-box4 {
    background-color: #fff;
}


.dashboard-contents-inner-right {
    position: relative;
    display: grid;
    grid-template-rows: 100%;
    background: #fff;
    margin-right: 15px;
}

.dashboard-contents-inner-right div {
    padding: 20px;
}

// right inner layout starts

.right-content-inner {
    span {
        display: flex;
    }

    hr {
        margin-top: -12px;
        width: 95%;
        float: right;
        border: 1px solid #DDE9FB;
    }
}

.author-list span:first-of-type {
    margin-bottom: 20px;
    justify-content: space-between;
    // border: 1px solid red;
}

.author-list span:not(last-of-type) * {
    // background-color: red;
    margin-right: 20px;
    // justify-content: space-between;
}

.right-content-inner span {
    img {
        align-self: baseline;
    }

    p {
        font-size: 12px;
        font-weight: 400;
    }
}

.author-profile {
    display: flex;
    flex-direction: column;
}

.author-profile p:first-of-type {
    font-size: 16px;
    font-weight: 400;
    line-height: 18.96px;
}

.author-profile p:last-of-type {
    font-size: 12px;
    color: rgba(64, 81, 105, 0.6);
}

.post-count {
    position: absolute;
    right: 0px;
    font-size: 12px;
    line-height: 14.22px;
    font-weight: 400;
}

h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 23.7px;
}


// right inner layout ends


// dashboard-content-box3 starts

.box3-outer {

    position: relative;

    h3 {
        margin-bottom: 20px;
    }

    hr {
        width: 95%;
        border: 1px solid #DDE9FB;
        float: right;
        margin-top: -10px;
    }
}

.box3-outer span {
    display: flex;
    margin: 20px 0;

    * {
        margin-right: 20px;
        align-self: center;
    }

    p {
        font-size: 12px;
        line-height: 14px;
        color: #405169;
        font-weight: 400;
    }

}

.box3-outer span p:last-of-type {
    position: absolute;
    right: 0;
}

// dashboard-content-box3 ends



// dashboard-content-box4 starts

.box4-outer {

    position: relative;

    h3 {
        margin-bottom: 20px;
    }

    hr {
        width: 95%;
        border: 1px solid #DDE9FB;
        float: right;
        margin-top: -10px;
    }
}

.box4-outer span {

    position: relative;
    display: grid;
    grid-template-columns: .7fr 6fr .8fr 2fr 1fr;

    margin: 20px 0;

    * {
        margin-right: 20px;
        align-self: center;
    }

    img {
        margin-right: -15px;
    }

    p {
        font-size: 12px;
        line-height: 14px;
        color: #405169;
        font-weight: 400;
    }

    p:nth-child(2) {
        color: #4C8DEB;
    }

}

.box4-outer span p:last-of-type {
    position: absolute;
    right: -20px;
    
}

// dashboard-content-box4 ends